# application mode # production or development
APP_ENV='production'

# ======================
# emoncms api read key
# ======================
EMONCMS_APIKEY='READ ONLY API KEY'
#
# =====================
# ensure the read api key is used. no writing to system allowed for read api key

# MQTT BROKER CONNECTION SETTINGS:
# =====================
# use quoted strings
MQTT_HOST='mqtt.emoncms.org'
# use quoted strings
MQTT_USERNAME=''
# use quoted strings
MQTT_PASSWORD=''
# use unquoted integer
MQTT_PORT=8883
# use true or false (lowercase unquoted strings)
MQTT_TLS=true
# use: tcp or websockets quoted strings
MQTT_TRANSPORT='tcp'

# =====================

# Save As remoteaccess.env for production
# Save As remoteaccess.env.dev for development
